* {
  font-family: Lexend;
  font-style: normal;
}

.app-header {
  background-color: #24389E;
  display: flex;
  gap:10px;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.search-section {
  width: 40%;
}

.search-box input {
  width:150px;
  padding:10px;
  min-width: 80%;
  border-radius:5px;
  border: none;
}

.search-box input:focus {
  outline: none;      
  box-shadow: 0 0 0 2px;
}

.column {
  float: left;
  margin: auto;
  padding-bottom: 1rem;
}

.facet-section {
  width: 20%;
  padding: 10px;
}

.facet {
  border: 2px solid #8dcce8;
  padding-left: 10px;
  border-radius: 20px;
}

.facet h3 {
  color: #24389E
}

.facet ul {
  text-align: left;
}

.facet li:hover {
  color: #1CEBCF
}

.results-section {
  width: 50%;
}

/* styling for Pager component */
.pager {
  display: flex;
  justify-content: space-evenly;
}

.pager-arrow {
  color: #24389E;
}

.pager-number:active, .pager-number:focus, .pager-number:disabled {
  background-color: #8dcce8;
  border-radius: 5px;
  color: black;
}

.pager-number:hover, .pager-arrow:hover {
  border: 2px solid  #8dcce8;
  border-radius: 5px;
  cursor: pointer
} 
